[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/yenbekbay/hexo-theme-apollo.git
[submodule "themes/clean-blog"]
	path = themes/clean-blog
	url = https://github.com/yenbekbay/clean-blog.git
